.container__productCard {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: white;
  margin: 15% 0% 0% 0%;
}
.container__productCard__body {
  height: 100vh;
  width: 100vw;
  position: absolute;
}
.container__productCard__Cards {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container__productCard__image {
  height: 50vh;
  width: 30vw;
  border: 2px solid black;
}
.container__modalCard__details {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: 20px;
  min-width: 350px;
  width: 20%;
}
.product__variants > select {
  padding: 5px;
  width: 70%;
}

.button_addToCart {
  background-color: white;
  color: black;
  width: 70%;
  padding: 5px;
  &:hover {
    background-color: rgb(10, 202, 10);
    color: white;
  }
}
.product__favorite {
  color: red;
}
