.container__products__grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  row-gap: 10px;
  column-gap: 10px;
  margin: 2% 10% 2% 10%;
  text-align: center;
  font-weight: bold;
}
.container__productCards {
  border: 2px solid rgb(230, 227, 227);
  border-radius: 6px;
}
.container__productCards:hover {
  box-shadow: 0 0 10px rgb(11, 10, 10);
  transform: scale(1.02);
}

.container__productCard__image {
  height: 300px;
  width: 100%;
}
.container__productCard__name {
  font-weight: bold;
}
.container__productCard__price {
}



